{# autopop/templates/autopop.html.twig #}
{{ attach_library('autopop/autopop') }}
<div class="overlay"></div>
<div id="dialog">
<h2>Have and Emergency?<Br/><small>We Can Handle That!</small></h2>
<h4>For Immediate Assistance Call or Text</h4>
<a href="tel:1+336+399+8065">(336) 399-8065</a><br/>

</div>

